/* Google Fonts : Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Tailwind CSS */
@import "tailwindcss";

* {
    font-family: 'Outfit';
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}

/* Animación fade up */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-up {
    animation: fadeUp 0.8s ease-out;
}